<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Llamamos la función para cargar contenido estatico-->
{% load static %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Detail project</title>

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form method="post" class="card card-body mb-4 mt-3">
        <h1 class="text-center">Modify project</h1>
        {% csrf_token %} {{ error }}

        <div class="mb-3">
          <label for="id_name">Name of project:</label>
          <input
            type="text"
            value="{{ project.name }}"
            name="name"
            id="id_name"
            class="form-control"
            placeholder="Write name of project"
          />
        </div>

        <button class="btn btn-dark mb-3">
          Update<img src="{% static 'logo3.webp' %}" alt="" width="20" />
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
