/*Definimos nuestras variables*/
:root{
    --fondo-container: #838383;
    --fondo-pagina: #b5b5b5;
}

/*Definimos el fondo de la pagina*/
body {
    background-color: var(--fondo-pagina);
}

/*Definimos el fondo del container*/
.containe {
    border-radius: 15px;
    width: clamp(300px, 95%, 90%);
    margin: auto;
    background-color: var(--fondo-container);
}

/* ------------------------------------------------------------------------------
Estilos del contenedor y de las cartas
*/ ------------------------------------------------------------------------------

/*Ajustamos las cartas y su alineación*/
.card{
    display: flex;
}