<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Tareas de proyectos</title>

<div
  class="row row-cols-1 row-cols-md-2 g-3 mb-5"
  style="justify-content: center"
>
  <!--Creamos un ciclo for para mostrar los datos en un render de html-->
  {% for task in tasks %} {# Otra forma de hacer un comentario #}

  <div
    class="card  mb-3 mx-3"
    style="background-color: white;
    max-width: 20rem; 
    border-radius: 25px;
    border: 4px solid var(--moradoclaro);"
  >
    <div class="card-header">
      <b>By:</b> {{ task.user.username }}
      <div style="text-align: right; margin-top: -1.6em">
        {% if task.done == False %} ⌛ {% else %} ✅ {% endif %}
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">PR {{ task.project.id }}: {{ task.tittle }}</h5>
      <p class="card-text">{{ task.description }}</p>
    </div>
    <div class="card-footer">Created: {{ task.created }}</div>
    <div class="card-footer">
      <button type="button" class="btn btn-success me-4" 
      style="background-color: var(--naranja);
      border: 2px solid var(--naranja);
      ">Done ✓</button>
      <button type="button" class="btn btn-danger"
      style="background-color: var(--violeta);
      border: 2px solid var(--violeta);
      margin-right: 2.4em;">Delete ✘</button>

      {% if task.important == False %} 
      <i class="fa-regular fa-star"></i>
      {% else %}
      <i class="fa-solid fa-star"></i>
        {% endif %}

    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
