<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Administración de tareas</title>

<h1 align="center">Details or task: {{ task.tittle }}</h1>

<!--Mostramos la variable en caso de que se generé un error-->
<p>{{ error }}</p>

<!--Creamos un botón para enviar el formulario-->
<form method="post">
  <!--Insertamos la variable -->
  {% csrf_token %}

  <div class="row g-3 align-items-center" style="justify-content: center">
    <div class="col-auto">
      {{ form.as_p }}
      <button class="btn btn-success mb-4">Save</button>
    </div>
  </div>
</form>
{% endblock %}
