<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Welcome</title>

<div class="row g-3 align-items-center" style="justify-content: center">
  <!--llamamos la bariable que creamos como titulo-->

  <main class="name">
    <p class="welcome mt-3">{{ titulo }}</p>
    <section class="animation">
      <div class="first">
        <div class="p-1">
          <!--Creamos una condicional para cuando un usuario este logueado-->
          {% if user.is_authenticated %}
          <!--llamamos la variable que creamos para el nombre del usuario-->
          {{ nameuser }} {% endif %}
        </div>
      </div>
    </section>
  </main>


  <div class="text-center mb-4">{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
    <a href="{% url 'singup' %}" class="btn btn-dark">Singup</a>
    {% endif %}
  </div>

  {% endblock %}
</div>