<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Página principal</title>


<!--llamamos la bariable que creamos como titulo-->
<h1>{{ titulo }}</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis,
  doloremque dolorum perspiciatis distinctio quisquam iusto exercitationem, qui
  libero velit consequatur ducimus quae totam, vitae odio animi natus. Est,
  cumque.
</p>

{% endblock %}