<!--Llamamos el navbar-->
{% extends 'layouts/navbar.html' %}

<!--Insertamos el contenido en la variable que creamos anteriormente-->
{% block content %}

<title>Login</title>

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form
        action="{% url 'login' %}"
        method="post"
        class="card card-body mb-4 mt-3"
      >
        <h1 class="text-center">Login</h1>
        {% csrf_token %} {{ error }}

        <div class="mb-3">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Write your user name"
          />
        </div>

        <div class="mb-3">
          <label for="Password">Password:</label>
          <input
            type="password"
            name="password"
            id="password1"
            class="form-control"
            placeholder="Write your password"
          />
        </div>

        <button class="btn btn-dark mb-3">Login</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
